/* .container {
  display: flex;
}

.home {
  position: relative;
}

.lift {
  position: absolute;
  left: 185px;
  top: 630px;
  width: 51px;
  height: 58px;
}

.btn {
  width: 300px;
  height: 200px;
  margin-top: 300px;
} */
